:root {
  --PRIMARY-white: #ffff;
  --PRIMARY-backgr-gray: #B5B5B5;
  --PRIMARY-red: #971313;
  --PRIMARY-dark-grey: #2E3035;
  --SECONDARY-green: #ADBDA0;
  --SECONDARY-blue: #A0AEBD;
  --SECONDARY-violet: #AAA0BD;
  --SECONDARY-light-grey: #D9D9D9;

  --PRIMARY-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  --SECONDARY-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-700.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/inter-v18-latin-800.woff2') format('woff2'),
    url('../fonts/inter-v18-latin-800.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  color: var(--PRIMARY-white);
}

body {
  background-color: var(--PRIMARY-backgr-gray);
  padding-bottom: 32px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 96px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

.logo {
  margin: 60px 0;
  text-align: center;
}

.choose-game {
  margin: 0 auto;
  max-width: 1347px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 0 46px;
}

.levels-list {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  width: 100%;
  gap: 36px;
  padding: 0;
}


.icon-bomb {
  background-image: url(./images/bomb_icon_34x34.svg);
  width: 34px;
  height: 34px;
  background-size: cover;
}

.icon-grid {
  background-image: url(./images/grid_icon_34x34.svg);
  width: 34px;
  height: 34px;
  background-size: cover;
}





.level {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.level:hover {
  transform: scale(1.01);
}

h3 {
  color: var(--PRIMARY-dark-grey);
}

.level-card {
  background-color: var(--SECONDARY-light-grey);
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 47px 0;
  gap: 28px;
}

.beginner,
.intermediate,
.expert {
  width: 280px;
  height: 280px;
  border-radius: 15px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--PRIMARY-shadow);
}

.beginner {
  background-color: var(--SECONDARY-green);
}

.intermediate {
  background-color: var(--SECONDARY-blue);
}

.expert {
  background-color: var(--SECONDARY-violet);
}

.icon-text {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .levels-list {
    font-size: 24px;
    gap: 18px
  }

  .beginner,
  .intermediate,
  .expert {
    width: 220px;
    height: 220px;
    padding-left: 18px;
  }

  .icon-bomb {
    width: 26px;
    height: 26px;
  }

  .icon-grid {
    width: 26px;
    height: 26px;
  }
}

.panel {
  background-color: var(--SECONDARY-light-grey);
  max-width: 743px;
  height: 64px;
  padding: 10px;
  margin: 0 auto 62px;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.display {
  background-color: var(--PRIMARY-backgr-gray);
  width: 116px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 11px;
  font-size: 32px;
  font-weight: 600;
  /* letter-spacing: 2px; */
}

.buttons_box {
  display: flex;
  gap: 12px;
}

.button {
  background-color: var(--PRIMARY-white);
  width: 43px;
  height: 100%;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--PRIMARY-shadow);
  cursor: pointer;
  transition: transform .1s;
}

/* .reset, .pause {
  transition: transform .03s;
} */

.reset:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1)
}

/* .button:hover {
  transform: scale(1.02);
} */

.time_echo {
  opacity: 0.1;
  position: absolute;
  letter-spacing: normal;
}

.invisible {
  display: none;
}

.ms_box,
.mm_box {
  width: 42%;
  display: flex;
  justify-content: flex-end;

  /* background-color: #2E3035; */
}

/* .game_time,
.bombs {
  font-size: 32px;
  font-weight: 600;
} */


.board-box {
  text-align: center;
}

.board {
  display: inline-grid;
  /* margin: 0 auto; */
  background-color: var(--SECONDARY-green);
  grid-template-columns: repeat(var(--size-columns), 26px);
  grid-template-rows: repeat(var(--size-rows), 26px);
  box-shadow: var(--PRIMARY-shadow);
  border-radius: 10px;
  gap: 4px;
  padding: 4px;
  /* margin-bottom: 32px; */
}

.board * {
  background-color: var(--SECONDARY-light-grey);
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 4px;
  box-shadow: var(--SECONDARY-shadow);
  color: var(--PRIMARY-dark-grey);
  font-weight: 800;
  font-size: 14px;
  align-items: center;
}

[data-status="mine"] {
  background: url(./images/bomb_on_desk_16x16_.svg);
  background-size: cover;
}

[data-status="marked"] {
  background: url(./images/marked_16x16_.svg);
  background-size: cover;
}

[data-status="empty"] {
  background-color: var(--PRIMARY-white);
  background-size: cover;
}

.overlay {
  background-color: var(--PRIMARY-dark-grey);
  opacity: 0.5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}


.lose {
  background-color: var(--PRIMARY-red);
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: center;
  border-radius: 15px;
  font-size: 32px;
  font-weight: 700;
}

.win {
    background-color: var(--SECONDARY-green);
      position: fixed;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 50px;
      text-align: center;
      border-radius: 15px;
      font-size: 32px;
      font-weight: 700;
}